.wrapper {
	padding: 2rem 0rem 0rem 0rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 820px) {
		flex-wrap: wrap;
	}
}

.cardIcon {
	border: none;
	margin-left: 3.75rem;
	margin-right: 4.75rem;
	text-align: center;
	cursor: pointer;
	padding-bottom: 1rem;
	
	@media (max-width: 1400px) {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	@media (max-width: 820px) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

/* .cardIcon:hover {
	opacity: 50%;
} */

.cardIcon h5 {
	color: #3B2313;
	padding-top: 10px;
}

.icons {
	font-size: 4.5rem;
	color: #3B2313;
}

.icons:hover {
	animation: bounce 1.3s ease-out;
	/* opacity: 50%; */
	color: #B2C035;
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px)
	}
	80% {
		transform: translateY(-20px)
	}
}