.agentsWrapper {
    margin: 50px;
    height: 800px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 2100px) {
        height: 100%;
        flex-wrap: wrap;
        margin-top: 100px;
    }
}

.card {
    width: 330px;
    height: 400px;
    text-align: center;
    cursor: pointer;
    
    @media (max-width: 2100px) {
        margin: 9.5rem 1rem;
    }
}

.card h3 {
    padding-top: 12px;
}

#arielImg {
    width: 22rem;
}

.thumbnail {
    width: 15%;
    padding-bottom: 1rem;
}

.modal-header h1 {
    padding-bottom: 1rem;
}

.agentSummaryList li, p {
    font-size: 1.25em;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}