.rentWithUsContainer {
    margin: 12rem 20rem 12rem 20rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    @media (max-width: 431px) {
        margin-top: 15rem;
    }
}

.rentWithUsContainer h2 {
    color:  #3B2313;
}

.rentWithUsContainer h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #7E7D32;
}

.rentWithUsContainer li {
    list-style: none;
    font-size: 1.5em;
    padding: 20px;
}